@import "tailwindcss";

@font-face {
  font-family: 'KetikaKesepianDemoRegular';
  src: url('./assets/fonts/KetikaKesepianDemoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}